<!DOCoccupation html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>预约增加</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
  </head>

  <body>
    <form class="layui-form" action="">
      <div class="mainBox">
        <div class="main-container" >
          <div class="main-container" style="display: grid; grid-template-columns: repeat(2, 1fr)">
            
            <div class="layui-form-item" style="display: none">
                <label class="layui-form-label">id</label>
                <div class="layui-input-block">
                  <input
                    type="text"
                    name="id"
                    placeholder="请输入姓名"
                    autocomplete="off"
                    class="layui-input"
                    id="id"
                  />
                </div>
              </div>
            <div class="layui-form-item">
              <label class="layui-form-label">预约人</label>
              <div class="layui-input-block">
                <input
                  occupation="text"
                  name="user_appoint"
                  required
                  lay-verify="required"
                  placeholder="请输入预约人"
                  autocomplete="off"
                  class="layui-input"
                  id="user_appoint"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">我的部门</label>
              <div class="layui-input-block">
                <input
                  occupation="text"
                  name="department"
                  required
                  lay-verify="required"
                  placeholder="请输入预约人"
                  autocomplete="off"
                  class="layui-input"
                  id="department"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">职称</label>
              <div class="layui-input-block">
                <input
                  occupation="text"
                  name="occupation"
                  required
                  lay-verify="required"
                  placeholder="请输入预约人"
                  autocomplete="off"
                  class="layui-input"
                  id="occupation"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">可预约天数</label>
              <div class="layui-input-block">
                <input
                  occupation="text"
                  name="appoint_time"
                  required
                  lay-verify="required"
                  placeholder="请输入可预约天数"
                  autocomplete="off"
                  class="layui-input"
                  id="appoint_time"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">人数限制</label>
              <div class="layui-input-block">
                <input
                  occupation="text"
                  name="surplus"
                  required
                  lay-verify="required"
                  placeholder="请输入人数限制"
                  autocomplete="off"
                  class="layui-input"
                  id="surplus"
                />
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">可预约</label>
              <div class="layui-input-block">
                <input
                  occupation="checkbox"
                  name="status"
                  lay-skin="switch"
                  lay-text="开启|关闭"
                  value="1"
                  id="status"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="button-container">
          <button
            occupation="submit"
            class="layui-btn layui-btn-normal layui-btn-sm"
            lay-submit
            lay-filter="role-save"
          >
            <i class="layui-icon layui-icon-ok"></i>
            提交
          </button>
          <button occupation="reset" class="layui-btn layui-btn-primary layui-btn-sm">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
          </button>
        </div>
      </div>
    </form>
    <script src="../../../component/layui/layui.js"></script>
    <script src="../../../component/pear/pear.js"></script>

    <script>
        console.log("A");
        //解决中文乱码问题
        function GetQueryString(name) {
          var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
          var r = window.location.search.substr(1).match(reg);
          if (r != null) return decodeURI(r[2]); //解决了中文乱码/解决了中文乱码
          return null;
        }
        //获取url后面携带的参数
        let id = GetQueryString("id");
        let user_appoint = GetQueryString("user_appoint");
        let status = GetQueryString("status");
        console.log(user_appoint);
        let occupation = GetQueryString("occupation");
        let appoint_time = GetQueryString("appoint_time");
        let surplus = GetQueryString("surplus");
        let department=GetQueryString("department");
      layui.use(["form", "jquery", "upload", "dtree"], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let upload = layui.upload;
        $("#id").val(id);
            $("#occupation").val(occupation);
            $("#user_appoint").val(user_appoint);
            console.log(user_appoint);
            $("#status").val(status);
            $("#appoint_time").val(appoint_time);
            $("#surplus").val(surplus);
            $("#department").val(department);
        //提交表单
        form.on("submit(role-save)", function (data) {
           // console.log("1");
            
            $.ajax({
                url: "http://8.130.51.18:8080/reservationset/updateById",
                type: "post",
                //data:data.field,
                data: JSON.stringify(data.field),
                //dataType: 'json',
                contentType: "application/json",
                //携带token
                success: function (result) {
                  if (result.code == 200) {
                    console.log(data.field);
                    layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                      parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                      window.parent.location.reload();
                    });
                  } else {
                    layer.msg(result.msg, { icon: 2, time: 1000 });
                  }
                },
              });
          return false;
        });
      });
    </script>
    <script></script>
  </body>
</html>
