<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>诊断管理</title>
		<link href="../../component/pear/css/pear.css" rel="stylesheet" />
	</head>
	<body class="pear-container">

		<div class="layui-card">
			<div class="layui-card-body">
				<table id="village-table" lay-filter="village-table"></table>
			</div>
		</div>

		<script type="text/html" id="role-toolbar">
			<button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
				<i class="layui-icon layui-icon-add-1"></i>
				新增
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="export">
				<i class="layui-icon layui-icon-delete"></i>
				导出
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				全部
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				新开单
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				进行中
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				已完成
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				已暂定
			</button>
			<button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
				<i class="layui-icon layui-icon-delete"></i>
				已取消
			</button>
			<form class="layui-form" style="float: right;"id="btn">
				<div class="layui-form-item" style="display: flex;">
				  <div class="layui-input-block">
					<input
					  type="text"
					  name=""
					  placeholder="请输入"
					  autocomplete="off"
					  class="layui-input"
					  id="searchIpt"
					/>
				  </div>
				  <button
					type="button"
					class="pear-btn pear-btn-md pear-btn-primary"
					data-type="reload"
					lay-filter="appoint-management-query"
				  >
					<i class="layui-icon layui-icon-search"></i>
					查询
				  </button>
				</div>
			  </form>
		</script>

		<script type="text/html" id="role-bar">
			<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
			<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
		</script>

		<script type="text/html" id="goods-enable">

			<input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架" lay-filter="goods-enable" {{ d.status == 1 ? 'checked' : '' }}>
		</script>

		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
		    layui.use(['table','form','jquery'],function () {
		        let table = layui.table;
		        let form = layui.form;
		        let $ = layui.jquery;

		        let MODULE_PATH = "./diagnose/";

		        let cols = [
		            [
					{title: '类型', field: 'type', align:'center', width:100},
					//{title: '门诊编号', field: 'name', align:'center'},
					{title: '标题', field: 'title', align:'center'},
					{title: '患者', field: 'userName', align:'center'},
					{title: '会诊科室', field: 'department', align:'center'},
					//{title: '住院床号', field: 'address', align:'center'},
					{title: '负责人', field: 'pic', align:'center'},
					{title: '金额', field: 'price', align:'center'},
					{title: '时间', field: 'createTime', align:'center'},
					//{title: '药品', field: 'totalHouseholds', align:'center'},
					//{title: '付款', field: 'tenementName', align:'center'},
					{title: '操作', toolbar: '#role-bar', align:'center', width:195}
				]
		        ]

		        table.render({
		            elem: '#village-table',
		            url: 'http://8.130.51.18:8080/diagnosis/list?&name=test&status=0',
		            page: true ,
		            cols: cols ,
		            skin: 'line',
		            toolbar: '#role-toolbar',
					totalRow: true,
				//数据表格携带token
				//headers: {
				//	token: localStorage.getItem("token")
				//},
				response: {
					statusName: "code", //规定数据状态的字段名称，默认：code
					statusCode: 200, //规定成功的状态码，默认：0
					msgName: "msg", //规定状态信息的字段名称，默认：msg
					//countName: "count", //规定数据总数的字段名称，默认：count
					dataName: "data", //规定数据列表的字段名称，默认：data
				},
				request: {
					pageName: 'cur', //页码的参数名称，默认：page
					limitName: 'size' //每页数据量的参数名，默认：limit
				},
				id: 'test'
			});
				//搜素框
			//以下是搜索框进行监测
			var active = {
				reload: function () {
					var demoReload = $('#searchIpt');
					console.log(demoReload.val());	//得到搜索框里已输入的数据
					//执行重载
					table.reload('test', {
						page: {
							curr: 1 //重新从第 1 页开始
						}
						, where: {
							userName: demoReload.val()		//在表格中进行搜索
						}
					});
				}
			};

			$('#btn .pear-btn').on('click', function () {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

		        table.on('tool(village-table)', function(obj){
		            if(obj.event === 'remove'){
		                window.remove(obj);
		            } else if(obj.event === 'edit'){
		                window.edit(obj);
		            } else if(obj.event === 'power'){
		                window.power(obj);
		            }
		        });

		        table.on('toolbar(village-table)', function(obj){
		            if(obj.event === 'add'){
		                window.add();
		            } else if(obj.event === 'refresh'){
		                window.refresh();
		            } else if(obj.event === 'export'){
		                window.export(obj);
		            }
		        });

		        form.on('submit(goods-query)', function(data){
		            table.reload('village-table',{where:data.field})
		            return false;
		        });

		        form.on('switch(goods-enable)', function(obj){
                    var checked = obj.elem.checked;
                    let status=2;

                    if(checked==true){
                        status=1;
					}

                    $.ajax({
                        url:'http://www.j236.com/admin/goods/updateStatus',
                        data:{
                            "goodsId":this.value,
							"status":status
						},
                        type:'post',
                        success:function(result){
                            layer.alert("操作成功!");
                            form.render();
                        }
                    })

		        });

		        window.add = function(){
		            layer.open({
		                type: 2,
		                title: '新增',
		                shade: 0.1,
                        maxmin: true,
		                area: ['800px', '500px'],
		                content: MODULE_PATH + 'diagnose-management-add.html'
		            });
		        }


		        window.edit = function(obj){
		            layer.open({
		                type: 2,
		                title: '修改',
		                shade: 0.1,
		                area: ['800px', '500px'],
                        content: MODULE_PATH +'diagnose-management-edit.html?id='+obj.data.id
						+ "&title=" + obj.data.title + "&status=" + obj.data.status
					+ "&price=" + obj.data.price + "&department=" + obj.data.department +
					"&user_name=" + obj.data.user_name + "&bed_number=" + obj.data.bed_number
					+ "&pic=" + obj.data.pic + "&drug=" + obj.data.drug,
			
		            });
		        }

		        window.remove = function(obj){
		            layer.confirm('确定要删除该小区', {icon: 3, title:'提示'}, function(index){
		                layer.close(index);
		                let loading = layer.load();
                        $.ajax({
                            url:'http://8.130.51.18:8080/diagnosis/delete',
                            data:{
                                "id":obj.data['id'],
                            },
                            type:'get',
                            success:function(result){
                                layer.close(loading);
                                if(result.code==200){
                                    layer.msg(result.msg,{icon:1,time:1000},function(){
                                        obj.del();
                                    });
                                }else{
                                    layer.msg(result.msg,{icon:2,time:1000});
                                }
                            }
                        })

		            });
		        }

		        window.export = function(){
					$.ajax({
						url:'http://8.130.51.18:8080/diagnosis/excel',
						type:'get',
						success:function(result){
							//layer.close(loading);
							if(result.code==200){
								layer.msg(result.msg,{icon:1,time:1000},function(){
									//obj.del();
									console.log("导出成功");
								});
							}else{
								layer.msg(result.msg,{icon:2,time:1000});
							}
						}
					})
		        }

		        window.refresh = function(){
		            table.reload('village-table');
		        }
		    })
		</script>
	</body>
</html>
