<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>

<body>
    <form class="layui-form" lay-filter="layItem" action="">
        <div class="mainBox">
            <div class="main-container">
                <div class="main-container">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" id="title" lay-verify="title" autocomplete="off"
                                    placeholder="请输入标题" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="type" id="type" placeholder="请输入价格" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">患者名</label>
                            <div class="layui-input-block">
                                <input type="text" name="user_name" autocomplete="off" placeholder="请输入卖点"
                                    class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">会诊部门</label>
                            <div class="layui-input-block">
                                <input type="text" name="department" id="department" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">床号</label>
                            <div class="layui-input-block">
                                <input type="text" name="bed_number" id="bed_number" autocomplete="off"
                                    placeholder="请输入卖点" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">负责人</label>
                            <div class="layui-input-block">
                                <input type="text" name="pic" id="pic" placeholder="请输入库存" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">医药费</label>
                            <div class="layui-input-block">
                                <input type="text" name="price" id="price" placeholder="请输入库存" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">药品数量</label>
                            <div class="layui-input-block">
                                <input type="text" name="drug" id="drug" placeholder="请输入库存" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否付款</label>
                            <div class="layui-input-block">
                                <input type="text" name="pay_status" id="pay_status" placeholder="请输入库存"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <input type="text" name="pay_status" id="pay_status" placeholder="请输入库存"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">省份</label>
                            <div class="layui-input-block">
                                <input type="text" name="province" id="pay_status" placeholder="请输入库存"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">地址详细</label>
                            <div class="layui-input-block">
                                <input type="text" name="address" id="address" placeholder="请输入库存" autocomplete="off"
                                    class="layui-input">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="user-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
    <script src="../../../component/layui/layui.js"></script>
    <script src="../../../component/pear/pear.js"></script>
    <script type="text/javascript" src="../../../component/layui/base.js"></script>


    <script>
        //解决中文乱码问题
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURI(r[2]); //解决了中文乱码/解决了中文乱码
            return null;
        }
        //获取url后面携带的参数
        let id = GetQueryString("id");
        let title = GetQueryString("title");
        let type = GetQueryString("type");
        let user_name = GetQueryString("user_name");
        let department = GetQueryString("department");
        let bed_number = GetQueryString("bed_number");
        let pic = GetQueryString("pic");
        let price = GetQueryString("price");
        let create_time = GetQueryString("create_time");
        let drug = GetQueryString("drug");
        //let pat_status = GetQueryString("pat_status");
        let status = GetQueryString("status");
        let province = GetQueryString("province");
        let address = GetQueryString("address");
        layui.use(["form", "jquery", "upload"], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let upload = layui.upload;
            $("#id").val(id);
            //console.log(id);
            $("#title").val(title);
            $("#type").val(type);
            //console.log(drugName);
            $("#user_name").val(user_name);
            $("#department").val(department);
            $("#bed_number").val(bed_number);
            $("#pic").val(pic);
            $("#price").val(price);
            $("#create_time").val(create_time);
            $("#drug").val(drug);
            //$("#pay_status").val(pay_status);
            $("#status").val(status);
            $("#province").val(province);
            $("#address").val(address);
            // $("#type").val(type);
            form.on("submit(user-save)", function (data) {
                console.log(data.field);
                $.ajax({
                    url: "http://8.130.51.18:8080/diagnosis/update",
                    type: "post",
                    data: JSON.stringify(data.field),
                    //dataType: 'json',
                    contentType: "application/json",
                    success: function (result) {
                        if (result.code == 200) {
                            console.log(data.field);
                            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                                window.parent.location.reload();
                            });
                        } else {
                            layer.msg(result.msg, { icon: 2, time: 1000 });
                        }
                    },
                });
                return false;
            });
        });
    </script>
    <script>
    </script>
</body>

</html>