<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>患者管理</title>
    <link rel="stylesheet" href="../../../component/pear/css/pear.css" />
</head>

<body>
    <form class="layui-form" action="">
        <div class="mainBox" >
            <div class="main-container">
                <div class="main-container" style="display: grid;	grid-template-columns:repeat(2,1fr) ;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">供应商名字</label>
                        <div class="layui-input-block">
                            <input type="text" name="supplierName" required lay-verify="required" placeholder="请输入姓名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="type" required lay-verify="required" placeholder="请输入姓名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="status" required lay-verify="required" placeholder="请输入姓名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">员工数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="employeesNumber" required lay-verify="required" placeholder="请输入姓名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">省市</label>
                        <div class="layui-input-block">
                            <input type="text" name="province" required lay-verify="required" placeholder="请输入用户名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="address" required lay-verify="required" placeholder="请输入姓名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="contacts" required lay-verify="required" placeholder="请输入手机号码"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">产品数</label>
                        <div class="layui-input-block">
                            <input type="text" name="productNumber" required lay-verify="required" placeholder="请输入姓名"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit
                    lay-filter="role-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
    <script src="../../../component/layui/layui.js"></script>
    <script src="../../../component/pear/pear.js"></script>


    <script>
        layui.use(['form', 'jquery', 'upload', 'dtree'], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let upload = layui.upload;
            form.on('submit(role-save)', function(data) {
                $.ajax({
                    url: 'http://8.130.51.18:8080/supplier/add',
                    type: "post",
                    //data:data.field,
                    data: JSON.stringify(data.field),
                    //dataType: 'json',
                    contentType: 'application/json',
                    //携带token
                    beforeSend: function (XMLHttpRequest) {
                        XMLHttpRequest.setRequestHeader("token", localStorage.getItem("token"));
                    },
                    success: function (result) {
                        if (result.code == 200) {
                            console.log("添加成功");
                            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                                window.parent.location.reload()
                            });
                        } else {
                            layer.msg(result.msg, { icon: 2, time: 1000 });
                        }
                    }
                })
                return false;
            });
        })
    </script>
    <script>
    </script>
</body>

</html>